@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bright-blue-clr: hsl(220, 98%, 61%);
    /* Light theme */
    --ltheme-very-light-grayish-blue-clr: hsl(236, 33%, 92%);
    --ltheme-light-grayish-blue-clr: hsl(233, 11%, 84%);
    --ltheme-dark-grayish-blue: hsl(236, 9%, 61%);
    --ltheme-very-dark-grayish-blue-clr: hsl(235, 19%, 35%);
    /* Dark theme */
    --dtheme-very-dark-blue-clr: hsl(235, 21%, 11%);
    --dtheme-very-dark-desaturated-blue-clr: hsl(235, 24%, 19%);
    --dtheme-light-grayish-blue-clr: hsl(234, 39%, 85%);
    --dtheme-light-grayish-blue-hover-clr: hsl(236, 33%, 92%);
    --dtheme-dark-grayish-blue-clr: hsl(234, 11%, 52%);
    --dtheme-very-dark-grayish-blue-clr: hsl(233, 14%, 35%);
    --dtheme-very-darker-grayish-blue-clr: hsl(237, 14%, 26%);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    transition: background .5s ease-out;
}
body.dark-theme{ background: var(--dtheme-very-dark-blue-clr) url(../images/bg-mobile-dark.jpg) no-repeat; }
body.light-theme{ background: var(--ltheme-very-light-grayish-blue-clr) url(../images/bg-mobile-light.jpg) no-repeat; }
h1,h2, p, ul{
    padding: 0;
    margin: 0;
}
img{ max-width: 100%; }
input[type=checkbox].todo-list__input{ 
    width: 1px;
    height: 1px;
    opacity: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.container{ 
    width: 86%;
    margin: 0 auto;
    box-sizing: border-box;
}
.not-droppable{ pointer-events: none; }
.dark-theme .default-box.draggedzone{ background-color: var(--dtheme-very-darker-grayish-blue-clr); }
.light-theme .default-box.draggedzone{ background-color: var(--ltheme-very-light-grayish-blue-clr); }

.default-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color .5s ease-out;
}
.dark-theme .default-btn{ color: var(--dtheme-dark-grayish-blue-clr); }
.light-theme .default-btn{ color: var(--ltheme-dark-grayish-blue); }
.dark-theme .default-btn:hover{ color: white; }
.light-theme .default-btn:hover{ color: var(--ltheme-very-dark-grayish-blue-clr); }

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 0 2em;
}
.logo{
    color: white;
    letter-spacing: .25em;
    word-spacing: -15px;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.65em;
    padding: .2em;
    opacity: 1;
    transition: opacity ease-out .2s;
    box-sizing: content-box;
}
.theme-btn.--changeTheme{ opacity: 0; }

.todo-list{ 
    padding: 0;
    margin: 0;
    max-height: 70vh;
    list-style: none; 
    overflow: auto;
}
.dark-theme .todo-list{ color: var(--dtheme-light-grayish-blue-clr); }
.light-theme .todo-list{ color: var(--dtheme-very-dark-blue-clr); }

.default-box, .default-box .draggable-item{
    display: flex;
    justify-content: start;
    align-items: center; 
    box-sizing: border-box;
    font-size: .8rem;
}
.default-box{ padding: .5em 1em; }
.default-box .draggable-item{  
    visibility: visible;
    opacity: 1;
    width: 100%; 
    transition: visibility, opacity .5s ease-in-out;
}
.default-box .draggable-item.hide{ 
    visibility: hidden;
    opacity: 0;
}
.dark-theme .default-box{ background-color: var(--dtheme-very-dark-desaturated-blue-clr); }
.light-theme .default-box{ background-color: white; }
.default-box.input-box{ 
    margin-bottom: 1em; 
    padding: 1.15em 1em;
}
.default-box.--all-bdradius{ border-radius: 5px; }
.default-box.filter-box{ 
    justify-content: space-between; 
    border-radius: 0 0 5px 5px;
    padding: .5em 1.5em;
}
.default-box.--mbottom{ margin-bottom: 2.5em; }

.todo-list .default-box{ animation: newTodoAnimation .5s linear; }
.todo-list .default-box:first-child{ border-radius: 5px 5px 0 0; }
.dark-theme .todo-list .default-box{ border-bottom: solid 1px rgba(255,255,255, .1); }
.light-theme .todo-list .default-box{ border-bottom: solid 1px var(--ltheme-light-grayish-blue-clr); }

.default-box .todo-list__label{ 
    display: inline-block;
    width: 85%;
    padding: 1.15em .5em;
    max-height: 80px;
    cursor: pointer;
    overflow-y: auto;
    transition: color .5s ease-out;
}
.dark-theme .default-box .todo-list__label:hover{ color: white; }
.light-theme .default-box .todo-list__label{ color: var(--dtheme-very-dark-grayish-blue-clr); }
.light-theme .default-box .todo-list__label:hover{ color: var(--dtheme-very-dark-grayish-blue-clr); }
.dark-theme .default-box .todo-list__label.--completed{
    color: var(--dtheme-very-dark-grayish-blue-clr);
    text-decoration: line-through;
}
.light-theme .default-box .todo-list__label.--completed{
    color: var(--ltheme-light-grayish-blue-clr);
    text-decoration: line-through;
}
.dark-theme .default-box .todo-list__label.--completed:hover{ color: var(--dtheme-very-dark-grayish-blue-clr);}
.light-theme .default-box .todo-list__label.--completed:hover{ color: var(--ltheme-light-grayish-blue-clr);}
.todo-list__input{
    position: relative;
    border: none;
    background-color: transparent;
}
.dark-theme .todo-list__input{ color: var(--dtheme-light-grayish-blue-clr); }
.todo-list__input.--input-newtodo{ 
    padding: .2em .5em;
    width: 85%; 
    outline: none;
}

.gradient-checkbox{
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: background .2s ease-in;
    cursor: pointer;
}
.dark-theme .gradient-checkbox{ background: rgba(255,255,255,.2); }
.light-theme .gradient-checkbox{ background: var(--ltheme-light-grayish-blue-clr); }

.gradient-checkbox:hover:not(:first-child),
.gradient-checkbox.--completed{ 
    background: linear-gradient(90deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%)); 
}
.gradient-checkbox::before{
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 90%;
    height: 90%;
    border-radius: inherit;
    transition: background .2s ease-out;
}
.dark-theme .gradient-checkbox::before{ background: var(--dtheme-very-dark-desaturated-blue-clr); }
.light-theme .gradient-checkbox::before{ background: white; }
.gradient-checkbox.--completed::before{ background: url(../images/icon-check.svg) center no-repeat; }
.delete-todo-btn{
    padding: .3em .8em;
    box-sizing: border-box;
}
.items-left-container{ font-size: .85rem; }
.dark-theme .items-left-container{ color: var(--dtheme-dark-grayish-blue-clr); }
.light-theme .items-left-container{ color: var(--ltheme-dark-grayish-blue); }

#items-left{ background-color: transparent;}
.dark-theme #items-left{  color: var(--dtheme-dark-grayish-blue-clr); }
.light-theme #items-left{ color: var(--ltheme-dark-grayish-blue-clr); }

.filter-btn{ padding: 1em .8em; }
.clearCompleted-btn{ padding: 1em .2em; }
.light-theme .filter-btn{ font-weight: 700; }
.filter-btn.active{ color: var(--bright-blue-clr); }
.default-box .group-btn-filters{ 
    display: none; 
    list-style: none;
    margin: 0 2.5em;
}
.default-box.--group-btn-filters{
    list-style: none;
    margin-top: 1.2em;
    font-size: .9rem;
}
.infoDragDrop{
    text-align: center;
    font-size: .9rem;
    margin: 4em 0;
}
.dark-theme .infoDragDrop{ color: var(--dtheme-very-dark-grayish-blue-clr); }
.light-theme .infoDragDrop{ color: var(--ltheme-dark-grayish-blue); }

@keyframes newTodoAnimation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes deleteTodoAnimation {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media screen and (min-width: 376px) {
    body.dark-theme{ 
        background: var(--dtheme-very-dark-blue-clr) url(../images/bg-desktop-dark.jpg) repeat-x; 
        background-size: 100% 200px;
    }
    body.light-theme{ 
        background: var(--ltheme-light-grayish-blue-clr) url(../images/bg-desktop-light.jpg) repeat-x;
        background-size: 100% 200px;
    }
}
@media screen and (min-width: 576px){
    .default-box{ font-size: .85rem; }
    .items-left-container{ font-size: .85rem; }
}
@media screen and (min-width: 768px){
    .container{ width: 65%; }
    .default-box{ font-size: .9rem; }
    .items-left-container{ font-size: .9rem; }
}
@media screen and (min-width: 992px) {
    body.dark-theme{ background-size: 100% auto; }
    body.light-theme{ background-size: 100% auto; }
    .container{ width: 55%;}
    .logo{ font-size: 2rem; }
    .default-box, 
    .default-box .draggable-item{ 
        font-size: 1rem; 
    }
    .items-left-container{ font-size: .85rem; }
    .default-box.--group-btn-filters{ display: none; }
    .default-box .group-btn-filters{ display: flex; }
    .infoDragDrop{ 
        margin-top: 4em; 
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .container{ width: 45%;}
    .top-header{ margin-top: 2em; }
    .logo{ font-size: 2.5rem; }
    .default-box .todo-list__label,
    .todo-list__input.--input-newtodo{
        padding-left: 1em;
    }
}
@media screen and (min-width: 1440px){
    .container{ width: 40%;}
    .logo{ font-size: 2.8rem; }
    body.dark-theme{ 
        background: var(--dtheme-very-dark-blue-clr) url(../images/bg-desktop-dark-biggerthan1440px.png) repeat-x; 
        background-size: 100% 35%;
    }
    body.light-theme{ 
        background: var(--ltheme-light-grayish-blue-clr) url(../images/bg-desktop-light-biggerthan1440px.png) repeat-x; 
        background-size: 100% 35%;
    }
}

